<style>
.footer-grid {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: 1fr;
  justify-items: center;

  grid-template-areas: 
    "f-addr"
    "f-don"
    "f-eps"
    "f-imp"
    "f-dat"
  ;
}

  /* No cross on mobiles */
  @media screen and (max-width: 767px) {
    .f-mittelkreuz {
      display: none;
    }
  }

@media screen and (min-width: 768px) {
  .footer-grid {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    align-items: baseline;
    justify-items: center;

    grid-template-areas:
      "f-addr f-cross f-cross f-eps"
      "f-addr f-cross f-cross f-eps"
      "f-don  f-imp   f-imp   f-dat"
    ;
  }
}

@media screen and (min-width: 1024px) {
  .footer-grid {
    jusitifiy-content: center;
    align-center: start;

    padding-left: 15%;
    padding-right: 15%;
  }
}


.f-address {
  grid-area: f-addr;
}

.f-donate {
  grid-area: f-don;
}

.f-epistle {
  grid-area: f-eps;
}

.f-impressum { 
  grid-area: f-imp
}

.f-datenschutz {
  grid-area: f-dat;
}

.f-mittelkreuz {
  grid-area: f-cross
}

</style>

<div class="footer-grid">
  <!-- Address tile -->
  <div class="text-left f-address">
    <p>
      Martin-Luther-Gemeinde<br>
      <span style="font-size:.9em">Selbst. Ev-Luth. Kirche (SELK)</span><br>
      Kaltenhöfer Straße 42<br>
      Tel: (0451) 21559<br>
      info[at]selk-schwartau.de
    </p>
  </div>

  <!-- Donation Tile -->
  <div class="pt-4 f-donate">
    <img src="/images/SpendenButton.png" alt="Spendenbutton" width="200">
  </div>

  <!-- Epistle Tile -->
  <div class="text-center mt-8 f-epistle">
    <h2 class="font-semibold text-sm pb-4">Unser Gemeindebrief (PDF)</h2>
    <div class="">
      <img src="/images/Gemeindebrief-09-23.png" alt="Gemeindebrief" width="200">
    </div>
  </div>

  <!-- Central Cross -->
  <div class="p-20 f-mittelkreuz">
    <img src="/images/sswt-kreuz__skizze.svg" alt="central cross">
  </div>

  <!-- Legal Part -->
  <div class="pt-4 f-impressum"><a href="#">Impressum</a></div>
  <div class="pt-4 f-datenschutz"><a href="#">Datenschutz</a></div>
</div>
