<div class="bg-stone-300 text-stone-900 py-8 px-4">
  <h1 class="text-2xl font-bold text-center">{{ site.Title }}</h1>
</div>
<nav class="bg-stone-100 text-stone-900 py-4 px-4">
  <ul class="flex flex-col md:flex-row md:justify-between">
    <li class="flex-1 text-center"><a href="/">Home</a></li>
    <li class="flex-1 text-center"><a href="/about">About Us</a></li>
    <li class="flex-1 text-center"><a href="/contact">Contact Us</a></li>
  </ul> 
  <!-- {{ partial "menu.html" (dict "menuID" "main" "page" .) }} -->
</nav>
<div class="py-4 flex flex-col justify-center gap-4">
  <h1 class="font-bold text-center mt-4">Bildergalerie</h1>
  <div class="flex justify-center shadow-xl">
    <img class="inline-block" src="{{ site.BaseURL }}/images/gallery/2023Jahreslosung_900.jpg" alt="Under Construction">
  </div>
</div>