<div class="flex flex-col items-center pt-2 md:w-56 md:grow-0 md:mb-8">
  <div class="text-left pl-2">
    <p class="font-semibold text-sm">
      Martin-Luther-Gemeinde<br>
      Selbstst. Ev-Luth. Kirche (SELK)<br>
      Kaltenhöfer Straße 42<br>
      Tel: (0451) 21559<br>
      info[at]selk-schwartau.de
    </p>
  </div>
  <div>
    <div class="mt-4"><img src="{{ site.BaseURL }}/images/under_construction_-_300x300.png" alt="Minimap" width="250"></div>
    <h2 class="py-2 font-semibold text-center">Mini Google Map</h2>
  </div>
  <div>
    <div class="mt-4"><img src="{{ site.BaseURL }}/images/under_construction_-_300x300.png" alt="MiniCalendar" width="250"></div>
    <h2 class="py-2 font-semibold text-center">Mini Google Calendar</h2>
  </div>
</div>