<div class="flex flex-col justify-items-center items-center border-2 rounded-md p-4 shadow-lg rml-ls-card">
  <div class="rounded-xl border-2 ">
    <a href="https://www.youtube.com/watch?v={{ .video_id }}" target="extra">
      <img width="100" src="{{ site.BaseURL }}/images/kirche_yt_thumb.jpg" alt="kirche YT thumbnail" class="inline-block">
    </a>
  </div>
  <div class="pt-4">
    <div class="text-center">{{ .datum }}</div>
    <div class="text-center">{{ .sonntag }}</div>
    <div class="text-center text-sm pt-2">„{{ .motto }}“</div>
  </div>
</div>
