<nav class="text-stone-700 py-4 px-4 lg:w-2/3" x-data="{ showmenu: false }">
  <!-- container  -->
  <div class="container flex flex-col lg:flex-row lg:justify-between">
    <div class="flex">
      <!-- hamburger button -->
      <button class="lg:hidden inline-flex  ml-auto my-auto justify-center lg:items-center border h-8 w-8 rounded-md outline-none focus:outline-none" x-on:click="showmenu = !showmenu">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <!-- hamburger button<< -->
    <!-- The Menu -->
    <div class="flex-grow lg:flex  lg:justify-between py-2" x-bind:class="{'hidden': !showmenu}">
      <ul class="flex flex-col lg:flex-row lg:justify-end lg:w-full mt-2 lg:mt-0 lg:space-x-2">
        <!-- has 2nd level -->
        <li class="relative" x-data="{ dropdown: false }">
          <a href="{{ site.BaseURL }}/about">
            <button class="
              flex 
              px-4 py-2 
              font-medium 
              outline-none focus:outline-none"
            
              x-on:mouseover="dropdown = true"
            >
              Über uns
            </button>
          </a>
          <!-- dropdown menu -->
          <div class="flex flex-col absolute left-8 bg-stone-100 rounded-md w-64 z-10" x-show="dropdown" x-on:click.away="dropdown = false">
            <ul class="relative">
              <li class="pl-2 py-2"><a href="{{ site.BaseURL }}/about">Miteinander Lebendig Glauben</a></li>
              <li class="pl-2 py-2"><a href="{{ site.BaseURL }}/about/unser-bekenntnis">Unser Bekenntnis</a></li>
              <li class="pl-2 py-2"><a href="{{ site.BaseURL }}/about/unsere-gottesdienste">Unsere Gottesdienste</a></li>
              <li class="pl-2 py-2"><a href="{{ site.BaseURL }}/about/unser-gemeindezentrum">Unser Gemeindezentrum</a></li>
              <li class="pl-2 py-2"><a href="{{ site.BaseURL }}/about/spirit-of-joy">Unser Gospelchor Spirit of Joy</a></li>
              <li class="pl-2 py-2"><a href="{{ site.BaseURL }}/about/unser-kantor">Unser Kantor</a></li>
              <li class="pl-2 py-2"><a href="{{ site.BaseURL }}/about/gemeindekreise">Unsere Gemeindekreise</a></li> 
              <li class="pl-2 py-2"><a href="{{ site.BaseURL }}/about/unser-pastor">Unser Pastor</a></li>
              <li class="pl-2 py-2"><a href="{{ site.BaseURL }}/about/unser-kirchenvorstand">Unser Kirchenvorstand</a></li>
              <li class="pl-2 py-2"><a href="{{ site.BaseURL }}/about/unsere-orgel">Unsere Orgel</a></li>
              <li class="pl-2 py-2"><a href="{{ site.BaseURL }}/about/unsere-kirche">Unsere Kirche, die SELK</a></li>
            </ul>
          </div>
          <!-- dropdown menu<< -->
        </li>
        <li><a class="flex px-4 py-2 font-medium text-stone-500" href="{{ site.BaseURL }}/calendar">Veranstaltungen</a></li>
        <li><a class="flex px-4 py-2 font-medium text-stone-500" href="{{ site.BaseURL }}/aktuell">Aktuell</a></li>
        <li><a class="flex px-4 py-2 font-medium text-stone-500" href="{{ site.BaseURL }}/ferienhaus">Ferienhaus</a></li>
      </ul>
    </div>
    <!-- The Menu<< -->
  </div>
  <!-- container<<  -->
  <!-- <ul class="flex flex-col md:flex-row md:justify-between">
    <li class="flex-1 text-center"><a href="{{ site.BaseURL }}">Start</a></li>
    <li class="flex-1 text-center"><a href="{{ site.BaseURL }}about">About Us</a></li>
    <li class="flex-1 text-center"><a href="{{ site.BaseURL }}contact">Contact Us</a></li>
  </ul>  -->
  <!-- {{ partial "menu.html" (dict "menuID" "main" "page" .) }} -->
</nav>
