<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="lg:py-4 bg-slate-200 min-h-screen">
  <div class="bg-slate-50 max-w-6xl min-h-screen my-0 md:mx-auto" id="container">
    <header>
      {{ partial "header.html" . }}
    </header>
    <main class="pt-8 pb-20 px-4">
      {{ block "main" . }}{{ end }}
    </main>
    <footer class="bg-stone-300 p-4 text-center">
      {{ partial "footer.html" . }}
    </footer>
  </div>
</body>
</html>
