<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="lg:py-4 bg-stone-100 min-h-screen">
  <div class="bg-stone-50 max-w-6xl min-h-screen my-0 md:mx-auto" id="container">
    <header>
      {{ partial "header.html" . }}
    </header>
    
    <main>
    {{ block "main" . }}{{ end }}
    </main>

    <footer class="bg-stone-300 p-4">
      {{ partial "footer.html" . }}
    </footer>
  </div>
</body>
</html>
