{{ define "main" }}
{{ $next := printf "%s/about/%s" site.BaseURL .Params.next }}
{{ $prevUrl := "" }}
{{ $nextUrl := "" }}
{{ $prevClasses := "px-2 py-1 rounded-lg bg-inherit border border-stone-300 text-stone-300"}}
{{ $nextClasses := $prevClasses }}
{{ if .Params.prev }}
  {{ $prevClasses = "py-1 px-2 bg-stone-300 hover:bg-stone-50 hover:border rounded-lg text-stone-900"}}      
  {{ $prevUrl = .Params.prev }}
{{ end }}
{{ if .Params.next }}
  {{ $nextClasses = "py-1 px-2 bg-stone-300 hover:bg-stone-50 hover:border rounded-lg text-stone-900"}}      
  {{ $nextUrl = .Params.next }}
{{ end }}
<div class="py-8">
  <h1 class="text-center font-semibold text-xl">{{ .Title }}</h1>

  <div class="flex flex-col space-y-4 md:flex-row md:justify-between md:space-y-0 mt-12 px-12 rml-text-in-flex">
    <div class="md:w-2/3">{{ .Content }}</div>
    <div class="flex flex-col justify-baseline order-first pb-8 md:order-last md:pb-0">
      <img src="{{ .Params.image }}" alt="Some Pic">
    </div>
  </div>

  <div class="flex flex-row justify-around mt-6">
    <div>
      <a href="{{ $prevUrl }}"><button
          class="{{ $prevClasses }}">Prev</button></a>
    </div>
    <div>
      <a href="{{ $nextUrl }}"><button
          class="{{ $nextClasses }}">Next</button></a>
    </div>
  </div>
</div>
{{ end }}